# Database - ignore
#
# Database storage and backup
/database/backup
/database/data


# Reverse Proxy - ignore
#
# etc nginx
/proxy/etc/conf.d/default.conf


# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/blogpage/wp-admin/
/blogpage/wp-content/index.php
/blogpage/wp-content/languages
/blogpage/wp-content/plugins/index.php
/blogpage/wp-content/themes/index.php
/blogpage/wp-includes/
/blogpage/index.php
/blogpage/license.txt
/blogpage/readme.html
/blogpage/wp-*.php
/blogpage/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/blogpage/wp-content/themes/twenty*/

# Example plugin
/blogpage/wp-content/plugins/hello.php

# Uploads
/blogpage/wp-content/uploads/

# Log files
*.log

# htaccess
/blogpage/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/blogpage/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/blogpage/wp-content/themes